@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;

}



.header{
    background-color: rgb(12 12 12);
    color: white;
    padding: 10px;
    text-align: center
}

.header a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.header a:hover{
    cursor: pointer;
    color: gray;
}

.text3{
    padding: 3%;
    background-color: white;
    font-size: 3vw;
    box-shadow: 1px 1px 5px black;
    font-family: 'Sriracha' , sans-serif;

}

.superior{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    background-size: cover;
    background-attachment: fixed;
    padding: 3%;
}





.textbot{
    display: inline-block;
    font-family: 'Sriracha' , sans-serif;
    font-size: 3vw;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}



.superior2{
    
    background-image: url(imagens/background002.jpg);
    padding: 3%;
    background-position: right center;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    background-attachment: fixed;
    
}

.footer{
    background-color: rgb(12 12 12);
    font-size: 1.2em;
    color: white;
    padding: 6px;
    text-align: center;
    
    
}

.footer a{
    text-decoration: none;
    color: white;
    transition: 0.5s
}

.footer a:hover{
    cursor: pointer;
    color: gray;
}

